.ro-swiper-img{
    height: 250px;
    object-fit: contain;
    margin: 20px 0;
  }
   .ro-card-body{
    background-color: #eee;
    font-size: 18px;
  }
  
  .card-title{
    font-size: 23px;
    color: #eb0028;
  } 
  
  .slide-container{
    max-width: 1200px;
    width: 100%;
  }