.ro-swiper-img{
    height: 260px;
    object-fit: fill;
  }
   .ro-card-body{
    background-color: #eee;
    font-size: 18px;
    width: 100%;
    font-weight: 600;
  }
  
  .card-title{
    font-size: 23px;
    color: #eb0028;
  } 
  
  .slide-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  .cardArrival{
    margin: 20px !important;
  }